{% extends 'core/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3 text-center">Register</h4>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            {{ form.first_name.label_tag }}
                            {{ form.first_name }}
                            {{ form.first_name.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                            {{ form.username.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                            {{ form.password.errors }}
                            {% if form.password.help_text %}
                                <small class="form-text text-muted">
                                    {{ form.password.help_text|safe }}
                                </small>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-3">Create account</button>
                    </form>
                    <p class="mt-3 mb-0 text-center">
                        Already have an account?
                        <a href="{% url 'core:login-view' %}">Login here</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

